.quiz {
    list-style-type: upper-alpha !important;
    width: calc(100vw);
}
.quiz li {
    width: calc(50vw);
    padding-left: 16px;
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
    border: 2px solid white;
    border-left: none;
    height: 64px;
    margin-bottom: 5px;
}

.quiz li::marker {
    color: white;
    font-weight: bold;
} 

.quiz li::before {
    content: ' ';
    position: absolute;
    --size: 64px;
    left: calc(-1 * var(--size));
    top: -2px;
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    border: 2px solid white;
    background-color: #FFFFFF55;
}
